{%extends "header.html" %}


{%block content%}



<body>
	<div class = "container">
		<h4>Insert Product</h4>
		<br>
		{% from "_formhelpers.html" import render_field %}
		<form method=post action="/insertproduct/">
			<d1>
			<div class="form-group">
					<input type="text" class="form-control" style=" width: 200px"  placeholder = "Name" name="name" value="{{request.form.name}}">
				</label>
			</div>

			<div class="form-group">
					<input type="number" class="form-control" style=" width: 200px;"  placeholder = "Protein" name="protein" value="{{request.form.protein}}">
				</label>
			</div>

			<div class="form-group">
					<input type="number" class="form-control" style=" width: 200px;"  placeholder = "Fat" name="fat" value="{{request.form.fat}}">
				</label>
			</div>

			<div class="form-group">
					<input type="number" class="form-control" style=" width: 200px;"  placeholder = "Carbohydrates" name="carbohydrates" value="{{request.form.carbohydrates}}">
				</label>
			</div>

			</d1>
			<p>
				<button type="submit" class="btn btn-success" value="{{request.form.sex}}">Submit</button>
			</p>
		</form>

{% if form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}


	</div>





</body>

{%endblock%}
