{%extends "header.html" %}


{%block content%}
<div class="row">
  <div class="col-sm-4">
    <div class="card">
        <img class="card-img-top" src="https://www.halachipedia.com/images/e/e7/Fruit.JPG" alt="Card image cap" style="height: 200px">
      <div class="card-body">
        <h5 class="card-title">Sprawdź sowje diety i aktywności!</h5>
        <p class="card-text">Klikającu tutaj możesz przejrzeć jakie posiłki powinieneś zjeść i jakie sporty uprawiasz</p>
        <a href="/userinfo/" class="btn btn-primary">Moje diety i aktywności</a>
      </div>
    </div>
  </div>
     <div class="col-sm-4">
         <img class="card-img-top" src="https://www.freeiconspng.com/uploads/account-icon-3.jpg" alt="Card image cap" style="height: 200px">

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Twoje konto i dane</h5>
        <p class="card-text">Tutaj możesz zmienićs swoje dane, takie jak wiek, wzrost czy waga!</p>
        <a href="/userdata/" class="btn btn-primary">Moje konto</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
        <img class="card-img-top" src="http://bi.gazeta.pl/im/6/10302/z10302146IH,tajlandia--jedzenie--kuchnia-tajska--stragan-ulicz.jpg" alt="Card image cap" style="height: 200px">
      <div class="card-body">
        <h5 class="card-title">Nasza baza danych</h5>
        <p class="card-text">Tutaj możesz przejrzeć wszystkie aktywności, posiłki i produkty, które są w naszej bazie!</p>
        <a href="/refresh/" class="btn btn-primary">Baza produktów i posiłków</a>
      </div>
    </div>
  </div>
</div>
<a type="button" href="/insertproduct/" style="margin-top: 100px" class="btn btn-primary btn-lg btn-block">Strefa Specjalisty</a>
<a type="button" href="/adminarea/" class="btn btn-secondary btn-lg btn-block">Strefa Administratora</a>

{%endblock%}



