{%extends "header.html" %}


{%block content%}



<body>
	<div class = "container">
		<h4>Register</h4>
		<br>
		{% from "_formhelpers.html" import render_field %}
		<form method=post action="/register/">
			<d1>
			<div class="form-group">
					<input type="text" class="form-control" style=" width: 200px;"  placeholder = "Username" name="username" value="{{request.form.username}}" >
				</label>
			</div>

			<!--<div class="form-group">-->
					<!--<input type="text" class="form-control" style="width: 200px;" placeholder = "Email" name="email" value="{{request.form.email}}">-->
				<!--</label>-->
			<!--</div>-->

			<div class="form-group">
					<input type="password" class="form-control" style="width: 200px;" placeholder = "Password" name="password" value="{{request.form.password}}">
				</label>
			</div>

			<div class="form-group">
					<input type="password" class="form-control" style="width: 200px;" placeholder = "Confirm Password" name="confirm" value="{{request.form.confirm}}">
				</label>
			</div>


				<!--{{render_field(form.password)}}-->
				<!--{{render_field(form.confirm)}}-->
				{{render_field(form.accept_tos)}}
			</d1>
			<p>
				<button type="submit" class="btn btn-success">Submit</button>
			</p>
		</form>

{% if form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}

	</div>





</body>

{%endblock%}
