{%extends "header.html" %}


{%block content%}
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="robots" content="noindex">
  <title>Bootstrap Table - Flask example </title>
  <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
  <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
  <style type='text/css'>
    .row-index {
      width: 50px;
      display: inline-block;
    }
  </style>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type='text/javascript'>
  $.noConflict();
    function getData(elementId,db_name){
        jQuery.getJSON('/hard/'+db_name,
      function(json) {
        $(elementId).bootstrapTable({
          data: json.date,
          columns: json.col,
        });
      });
    }

  function getNewData(elementId,db_name){
        jQuery.getJSON('/hard'+db_name,
      function(json) {
        $(elementId).bootstrapTable('load', {
          data: json.date,
          columns: json.col,
        });
      });
    }

    // $.when($.when(getData("#aktywnosci","konta")).done((getData("#posilki","produkty")))).done(getData("#products","posilki"));
    getData("#aktywnosci","aktywnosci")
  </script>

<div class="container">
  <h2>Tabele</h2>
  <ul class="nav nav-pills">
    <li class="active"><a data-toggle="pill" href="#Produkty">Aktywnosci</a></li>
    <li><a data-toggle="pill" onclick="getData('#posilki','posilki');" href="#menu1">Posiłki</a></li>
    <li><a data-toggle="pill" onclick="getData('#products','produkty');" href="#menu2">Produkty </a></li>
    <li><a data-toggle="pill" onclick="getData('#posilki_rows','wiersze_posilkow');" href="#menu3">Składniki</a></li>
  </ul>

  <div class="tab-content">
    <div id="Produkty" class="tab-pane fade in active">
       <table
      id="aktywnosci"
      data-toggle="true"
      data-toolbar="#toolbar"
      data-search="true"
      data-show-columns="true"
      data-pagination="true"
      data-height="500">
       </table>

    </div>
    <div id="menu1" class="tab-pane fade">
      <p><table
      id="posilki"
      class="table"
      data-toggle="true"
      data-toolbar="#toolbar"
      data-search="true"
      data-show-columns="true"
      data-pagination="true"
      data-height="500">
       </table></p>
    </div>
      <div id="menu2" class="tab-pane fade">
      <p><table
      id="products"
      class="table"
      data-toggle="true"
      data-toolbar="#toolbar"
      data-search="true"
      data-show-columns="true"
      data-pagination="true"
      data-height="500">
       </table></p>
    </div>
       <div id="menu3" class="tab-pane fade">
      <p><table
      id="posilki_rows"
      class="table"
      data-toggle="true"
      data-toolbar="#toolbar"
      data-search="true"
      data-show-columns="true"
      data-pagination="true"
      data-height="500">
       </table></p>
    </div>

  </div>
</div>


{%endblock%}



